@charset "UTF-8";
/* CSS Document */

#github_widget {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 0px;
}

#description {
height: 4em;
width: 20em;
}

#wrapper {
width: 960px;
background-color: #FFF;
margin-left:auto;
margin-right:auto;
}

header {
height: 200px;
}

nav {
width:960px;
}

#leftcol {
float: left;
width:660px;

}

#rotating_canvas {
height:300px;
}

#rightcol {
float: left;
width: 300px;
}

#lower {
clear:both;
height: 50px;
}

footer {
clear:both;
height: 50px;
}

ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}
